<%- include('partials/header.ejs') %>

<nav>
    <img src="###" alt="Logo">
    <div class="entry-field">
        <form action="/submit" method="post">
            <h2>Post:</h2>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" required>
            <label for="content">Content:</label>
            <textarea name="content" id="content" cols="30" rows="10" required></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</nav>
<main>
    <% if (locals.postID != null) {%>
        <h2>TITLE:</h2>
        <%= locals.data.posts[locals.postID].title %>
        <h2>AUTHOR:</h2>
        <%= locals.data.posts[locals.postID].author %>
        <h2>POST:</h2>
        <%= locals.data.posts[locals.postID].content %>
        <form action="/editRequest" method="post">
            <input type="hidden" name="postid" value="<%= locals.postID %>">
            <button type="submit">Edit</button>
        </form>
        <form action="/delete" method="post">
            <input type="hidden" name="postid" value="<%= locals.postID %>">
            <button type="submit">Delete</button>
        </form>
    <% } else {%>
        <h1><%= locals.message %></h1>
    <% } %>
    <% if (locals.edit) {%>
        <h1>EDIT:</h1>
        <form action="/edit" method="post">
            <h2>Post:</h2>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= locals.data.posts[locals.postID].title %>" required>
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" value="<%= locals.data.posts[locals.postID].author %>" required>
            <label for="content">Content:</label>
            <textarea name="content" id="content" cols="30" rows="10" required><%= locals.data.posts[locals.postID].content %></textarea>
            <input type="hidden" name="postid" value="<%= locals.postID %>">
            <input type="submit" value="Edit">
        </form>
    <% } %>
</main>

<%- include('partials/footer.ejs') %>